.ms-home-body {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ms-home-section-small {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}