:root {
  --color-primario: #472726;
  --color-secundario: #8C5D58;
  --color-claro-low: #f9f8f5;
  --color-claro: #F7F6F2;
  --color-claro-2: #e1dbc8;
  --color-oscuro: #471C57;
  --color-carousel-controles: #39364668;
  --color-carousel-controles-hover: #39364690;
  --color-en-stock: #008a00;
  --color-verde: #5D9C59;
  --color-verde-2: #4c8e47;
  --color-gallery: #52405831;
  --color-gallery-controles: #4c405831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}