.ms-shop-body {
    display: flex;
    gap: 0.3rem;
    width: 100%;
    font-family: 'Poppins', sans-serif;

}

.ms-shop-filter {
    width: 20%;
    margin-top: 2.5rem;
}

.ms-shop-products-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ms-shop-products {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;

}

.ms-shop-products-sort {
    margin-left: 1.1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: end;
    align-items: end;
}

.ms-shop-products-sort select {
    background-color: transparent;
    appearance: none;
    outline: none;
    border: 0;
    font-size: 1.2rem;
    height: 100%;
    text-align: center;
}

.ms-sort-label {
    font-size: 1.2rem;
}

.ms-filter-checkbox {
    display: flex;
    gap: 0.3rem;
}